MTS.json
[
    {
        "id": "9da62224fc445f6b",
        "type": "tab",
        "label": "MTS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f13fc4ba54e57a35",
        "type": "group",
        "z": "9da62224fc445f6b",
        "name": "LOGO",
        "style": {
            "stroke": "#001f60",
            "label": true,
            "fill": "#bfdbef",
            "color": "#000000"
        },
        "nodes": [
            "06f8a0864230ed0d",
            "8043755ca4cff6f1",
            "85250fad973fcfca",
            "f18fcc98c6ff76bc",
            "fbe8137bcc8ef623"
        ],
        "x": 14,
        "y": -1,
        "w": 592,
        "h": 122
    },
    {
        "id": "76dfd97d14e26e7f",
        "type": "group",
        "z": "9da62224fc445f6b",
        "name": "Date & Heure",
        "style": {
            "fill": "#d1d1d1",
            "label": true,
            "stroke": "#000000",
            "color": "#000000"
        },
        "nodes": [
            "98b2e7a4ccaf747f",
            "e69c6bd93a069636",
            "bad82bc719613318"
        ],
        "x": 34,
        "y": 139,
        "w": 452,
        "h": 82
    },
    {
        "id": "a1f7f94978b6c541",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "979dacbeb50415f6",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "Etat",
        "label": "",
        "format": "Etat",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 70,
        "y": 400,
        "wires": []
    },
    {
        "id": "ac25145119c741f6",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "f9d19f4b4a3eafdd",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "N° de machine ",
        "label": "",
        "format": "N° de machine ",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 100,
        "y": 300,
        "wires": []
    },
    {
        "id": "12f00b59f8ac57ed",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "02a495086ddda5ac",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "Cycles",
        "label": "",
        "format": "Nombres de cycles ",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 70,
        "y": 520,
        "wires": []
    },
    {
        "id": "85250fad973fcfca",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "g": "f13fc4ba54e57a35",
        "group": "4fe019f7cb638ce4",
        "name": "image",
        "order": 1,
        "width": 4,
        "height": 1,
        "format": "<div>\n    <img src={{msg.payload}}>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 530,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "f18fcc98c6ff76bc",
        "type": "inject",
        "z": "9da62224fc445f6b",
        "g": "f13fc4ba54e57a35",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "image",
                "v": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAABMCAMAAACGYDlKAAAA81BMVEX///8AHlAaLGEAkM3i6vLvM0YAGk4pOWEAF00+SmwAAEIAAD4AFUwAEUtlbIQAAEQADElOWHZ6gpZdZoAPJV1ZYoNyepATKVgYLVrm6OzCxs8AH1uEiqKusr4AiMrHytJTpdYAADuiprSNkqJWXnnz9ffuITn+9fbyZnHuEzD72934uLzp6+/e3+Xr8/oAC1QAfssAh84AFlfBydfO5PLT1dxxs96dobMyP2UAE1YAAFEAADeOweSfyue82u7I4PEhl9AAACkAeclMVXokNWd5g54uPWycpbmcobBiq9upz+l6uN45ntOOjp/tAB5GUXHxWGSdxkDCAAAMWElEQVR4nO2de3+iPBbHYXSpBRXboa33Slt29tn1XnV6Ueu0M+1UnWee9/9qVi4ikJMLClPgw++P2laSQPiSE05OEo6LqzTto88gVaI0bpzeHMmSLrF0V7yuVj76jFLFXu3GjSjJpbzAmxJyBVGWCsXqR59YqiClyRd76ej3eWOfZqZ6osp5HpVQkKXimJq8Xj7yp3Ldkfrcb2orj2tHHp/Rr8/R80QKKrJX0d0BaXV9PWPTy1s361bX9fVhVkRThf2UL8nqsd9W5koQIaosFaQjWoanss/TlE8dqYulvS5VdsJ5guRRAm68nPMcJDVY6wi5xNJn1qSm6kOFScM6AtZ3x9cPHX/FeqRJ+BtNVU6681N6IycLlAzFo0tiFqcln6dYcoFV2OsyS78ceZwgT0YBAst7kCAzvqeMVSR/v2DVPjGphoL16vi694FgbUh4ZH4S28cSBSsjQ/WGdAdiCxbP2u6UkUoKDaxrtMWKDFg8r/5kK+hKJRhBVz2KBFbjCxYvMfUbrtGUoYGF9rGcX380WLzK1GbdsJcjqEBv2FKMwRJkhmrqqGjCsMAaNrJesJQogcU/0s9AK/sCQj7GZRRjsHiok+9VOYemCwus+1svWNn7SIGVO6IVUgE9DAQVLjAdrTiDxatUYwgYwvDAekC46vQiBRZP6hTp6ogMvXa38gJMVqzBEkqUm9F5hJKFBdYnbxcrexutFovP3RGLaNOcDJDyF2BesQaLagyPAEMYGljKGQJWYxgtsHiVeA48WF00FcB+VrzB4lWilw40hKGBBbwUulJGASz5ilDC8X53k5ehd8OYgyUUCBUFvREa+YcDVg/pu3fPnG+FH+l5J1XtVr8wdUwX5MeIOVh8Ce9JwRjC8EwhYgm7nxSlNrzvPTzoJvE+AmDlsO4BYISCWYKIduDjDhbBGGIMYVhg1X4gYI3F78XrxrgSSJBcIGAJZWz+/B4dd7tGb5DsALAEiaRHZxMRAbAEAVNROEMYFlioJdTaQYZdhgwW9jHc1JcsGoF+cgnLHjoKgoIllNsVgjptR2ogugG6GnJ0w2Fg8a5wC4dwhjAksJRXV4PVDTyUN1ywNBWTIi/KxU2j225Xxo1TXsIYODRfACyqe3YnNB4LHfLdZEiMxzoULF4Fo85+Ep7AMMAaOt4Jg6eKCxusc5gYQXJHcnVOVdhIIa5XqMU65PIvRaRMiVzNB4MlQB66CugatfIPA6zazgK6U3enk/fMs78SIYUKVlsFDy8JiInTiuB5IBkHDVYVAIscOXkwWKAxvCP4+sIAa/i1C2K1AWs164+6/kqEFCpY8DucCDonqmC0llil5Rg/sABjSDCE4YCleLGaZvqZmfV7PwCuwgULvWsbSdfwweCIYt7zYpgIsBBjWFFJh4cA1r3Rw9ph1R20Rt35umn+pznyVyCoMMFqQNUrYrjCuLxUd1udCLB42VMHJEMYBljKy4YrZ7PUXBkfk5bxsZ77KxDWN9mPMJ1x+Ob+BoJlSBG6kEGQ3d33ZIDlCWH7Cbbsu/wDB6s3dneu5gPrF9MITmb2N+Pi+b6q+hLca4JvLuRrIA6WQU9u/sR1RELAyjlPmmwIQwCr99a1mivL0TCdWEnfl8afq139qKU9hXMEYwRaN8zNhY4lB35fAnZZch2RELBcxvCOEgUZNFi1M9txZdm+1RYss61avu/qZ9+RXtCpQpAfsAAnFmFQ0VD5UfXqmwvFpIDliDSiGMLAwVJeHb2rgdGdmjetPzNGt/1psaufKIJ1gb7leb0HvhVfsDyVYcdzI76+kKd/KUrWceyob3wMDBPILTPGR3a9q58IggW8b1Jjc6k6bEgH1R8DS/AOHm2N4bEnvxwyyhQoWMrQaipnZru1auk/R89TjdOmqAMrimCN0XtWwgzAsgt6efh8g9EJPb8/BpZczXuAMY3hlecEcndX3rRBgmVzxU36mdXT5rNpGMNuq9/vT9DBrCiCBRwqH7yiDARWHqMCQ/v4x8ASx1VPC27MFGh7m3W1EyZYirLzczRX00x/vbRdDeAQaRTBAiJmKPeMQX4C/YQ8Pb8/B9Yl4taTf6KGUD7lQgSr9uoIItK7V9ryfdBvORNro9mqtcg0m82B3heLIlgAA6K/wtgyxV9bxMBCuumP7YaneIHnQgSrV3S1SpavYTS1e1aj6WJDVDNjqBlVsNBwTb+FAYozWIhjIedtr4zA5bDAUu7fTK60mTVkM3AN3YxWW6QiDhZ6B2heLAbFGixkZME70GBMtQgJrN5Zx2yZsv3JomX89tTfJZov3FhFGKzfyPiMN1RhD8UbLHxcu3nCxttGKGANPzW6pv+q23+y4xfetw6rZcZDVQoW6doiBxZlLpw53hU8WMpQ0cNkDEPYNXyhpoed00xbOFqgWEUYrNQUOmWCBY1G7PIxAQoarFrv9S3btcMZ1gvbw25pAmEVYbDSzrtTFliEaZbbxSSDBEup3dd+3HaNMOTt15PmvL94n0ynVnMFUhVlsFJ3g+vSrYmqmOklerlW5FkgYCnGnOaHl7pFVdYxQDh9nj0tl9OV0ZefDmIHVuogdWoLFodbeqewHYAKACzl++tLsf52m+12obk4874de9yCzWCkwYKGdJhXwsUJmgmNj3el5/fnwfKO7NjFbp3iB4O1wcmQa5qz64jRsxnNwK2xWEUYLGAQukBYEoNNsY1usMHibsAplKK9YM/hYAHyTh4026wFgavoggWFzdDaEK2NylUnsY3H2oEFTl9xrF0XBljwfC4iV9EFC3q1poU3lFVkVY9vrkl4CQALiZTRpe4KDQMs8DiSHYw0WFBoMtlujYGH2f0mmQSwuGPEdewMgQ8BLLPBmj8PBs3MYrFutfQ/3/H9djpYJep8LoY3J6cOnUxBXgf3M9r98HjrEwEWMi3H9byFAJb1xSrT7T715/OlHuA3o3BFBuuaql//g/UFPmk/YIHTv0hbykDeQ88qlIkAC/HEuNZwDR4su4e1nnATa0JOFuu/YgBLj+6h6u9/Q/r7v/DRfsACJ6wWCPHC0BJRatt1SDLA8myY41p/KwSwds/ywA5rJ3fcaWAxTBr88te/IP0VBFjgwbiFx/T91NCjvcOLCQHL1TZ7+rnBg+X46tmaizqlGcJIgwUvCiLW4YN/Qq/hXpdqQsDizh3lehafCRwsZ+djaUa4d+lcRRoszDJGYEXVQY+0d3QxKWBxu/UxvQspBw6W68vJQv/ZonMVabDa8Dp1wMJrlWMw45K3dUsMWPbIDjLXMlywOH0VrBFDgxVpsJiXijx/hNcvUL3vkIkBy3atIDs3BQ2WVYXbmtTXA2FpsKINFmatSH2PXvm8MW5rmr647QVucVsR6egnYKzQkiYZfkS0XxA0WOY/Z8+7ZzTL0mBFGyzCctwCfTluAY3fglqsSoco4uV/HFhc9ZfuR6wjfr1QwJoNDDeD1tJ/rhIA1kEbCABuet8bCEjfiIsgfyBYOAUHlh47MzZfOftWw5XRw0aZuIo6WAdseZIHQuR9b3lCWV07sWCNb28bX3+81Ex/zdM2yH020RctSgJYXH3f8fFd6JtDKVh0/eg99Hq9++GwpijW5nD2UmrzFsdNmLiKPFh7bysHbnSbgkWXe9dB41/zbYs1nbJawuiDpQl7bYQJO+hTsOhygqVYAYTbKPfNJ9s7YQzA4ir+t4TmeRmuzRQsulxgWW79pbF2DLdubX5NDFhcB9x0gigZEwSRgkWXE6zaV+ufs+f1amKsWLRi4yoOYHEVmbIwsFcybjJ+ChZdTrCGtsdGW05nZquVILC4dtkXEBJ2Nk8KFl1OsO7RYhktYTzA4rgb9q1VhEf83uUpWHQ5weoh+0FpCQOLu1IZzaF8QRiFScGiywUWcjEsoVixAotr/2bpw+cff5EyScGiywUW4mRm9TbEB6zNWfK4hQu2yqsn5NuagkWXE6wHBCymWKwdWBK4HjVxRyRTfsESwYJYZyc2LkS8QRRK6g24X7JDp3LOpx7JYElIApUCVsmbQIbAynsOktjBEj1J4YhbvOpDxdahYF3+BhfQZ1hB/8s//4H0DwasKlwQ+6VXb1S5ALRbQkks1emL0VzfHfvUERGsSzS/I2CI0qEikuAO2ooXOYj2yNhqIGl9rnjx9WynF9QUrltsWsPzp6MrrVGUJVks5Cy8hHxJFtVynfmRTpUKp0rjunicE0U9zq98cnp1Sd45PlWqVAnS/wFFyxl30mlNygAAAABJRU5ErkJggg==",
                "vt": "str"
            },
            {
                "p": "qr",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "06f8a0864230ed0d"
            ]
        ]
    },
    {
        "id": "27b8cfae7e4b5620",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "f9d19f4b4a3eafdd",
        "order": 2,
        "width": 6,
        "height": 3,
        "name": "MTS01",
        "label": "",
        "format": "MTS01",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "9dc5cbc7bc848f3d",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "f9d19f4b4a3eafdd",
        "order": 3,
        "width": 6,
        "height": 3,
        "name": "MTS02",
        "label": "",
        "format": "MTS02",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 440,
        "y": 360,
        "wires": []
    },
    {
        "id": "7cdbc770861edc91",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "f9d19f4b4a3eafdd",
        "order": 4,
        "width": 6,
        "height": 3,
        "name": "MTS03",
        "label": "",
        "format": "MTS03",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "1b12e0f2c78db347",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "f9d19f4b4a3eafdd",
        "order": 5,
        "width": 6,
        "height": 3,
        "name": "MTS04",
        "label": "",
        "format": "MTS04",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 440,
        "y": 520,
        "wires": []
    },
    {
        "id": "369976adc3cb7264",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "group": "979dacbeb50415f6",
        "name": "LEDs MTS01",
        "order": 2,
        "width": 6,
        "height": 3,
        "format": "<style>\n  .led {\n    width: 50px;\n    height: 50px;\n    border-radius: 50%;\n    display: inline-block;\n    margin: 10px;\n  }\n</style>\n\n<div>\n  <div style=\"text-align: center;\">\n    <p>{{msg.payload.etat ? 'Marche' : 'Arrêt'}}</p>\n    <div class=\"led\" style=\"background-color:{{msg.payload.etat ? 'green' : 'red'}}\"></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "40d340f5ca4e1d09",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "group": "979dacbeb50415f6",
        "name": "LEDs MTS02",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<style>\n  .led {\n    width: 50px;\n    height: 50px;\n    border-radius: 50%;\n    display: inline-block;\n    margin: 10px;\n  }\n</style>\n\n<div>\n  <div style=\"text-align: center;\">\n    <p>{{msg.payload.etat ? 'Marche' : 'Arrêt'}}</p>\n    <div class=\"led\" style=\"background-color:{{msg.payload.etat ? 'green' : 'red'}}\"></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "2b4fe59267f26736",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "group": "979dacbeb50415f6",
        "name": "LEDs MTS03",
        "order": 4,
        "width": 6,
        "height": 3,
        "format": "<style>\n  .led {\n    width: 50px;\n    height: 50px;\n    border-radius: 50%;\n    display: inline-block;\n    margin: 10px;\n  }\n</style>\n\n<div>\n  <div style=\"text-align: center;\">\n    <p>{{msg.payload.etat ? 'Marche' : 'Arrêt'}}</p>\n    <div class=\"led\" style=\"background-color:{{msg.payload.etat ? 'green' : 'red'}}\"></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c494a6ce726e8fde",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "group": "979dacbeb50415f6",
        "name": "LEDs MTS04",
        "order": 5,
        "width": 6,
        "height": 3,
        "format": "<style>\n  .led {\n    width: 50px;\n    height: 50px;\n    border-radius: 50%;\n    display: inline-block;\n    margin: 10px;\n  }\n</style>\n\n<div>\n  <div style=\"text-align: center;\">\n    <p>{{msg.payload.etat ? 'Marche' : 'Arrêt'}}</p>\n    <div class=\"led\" style=\"background-color:{{msg.payload.etat ? 'green' : 'red'}}\"></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1090,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "24342f3cbf9d7f13",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Filter Marche and Arret",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nif (line.includes('Marche')) {\n    result = 'ON';\n} else if (line.includes('Arrêté')) {\n    result = 'OFF';\n} else {\n    return null; \n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "be84991bb7d6035c"
            ]
        ]
    },
    {
        "id": "073e7fb2131b0719",
        "type": "inject",
        "z": "9da62224fc445f6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "d7d80871eb17fc43"
            ]
        ]
    },
    {
        "id": "be84991bb7d6035c",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Contrôle des LED",
        "func": "if (msg.payload === 'ON') {\n    msg.payload = {etat: true};\n} else if (msg.payload === 'OFF') {\n    msg.payload = {etat: false};\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 320,
        "wires": [
            [
                "369976adc3cb7264"
            ]
        ]
    },
    {
        "id": "466f36d92d1b3b4a",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Filter Marche and Arret",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nif (line.includes('Marche')) {\n    result = 'ON';\n} else if (line.includes('Arrêté')) {\n    result = 'OFF';\n} else {\n    return null; \n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 400,
        "wires": [
            [
                "d047e34203388520"
            ]
        ]
    },
    {
        "id": "46156538a974be4b",
        "type": "inject",
        "z": "9da62224fc445f6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "e7e4da8f7ea5c93f"
            ]
        ]
    },
    {
        "id": "d047e34203388520",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Contrôle des LED",
        "func": "if (msg.payload === 'ON') {\n    msg.payload = {etat: true};\n} else if (msg.payload === 'OFF') {\n    msg.payload = {etat: false};\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 400,
        "wires": [
            [
                "40d340f5ca4e1d09"
            ]
        ]
    },
    {
        "id": "28abf8dc6e38679a",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Filter Marche and Arret",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nif (line.includes('Marche')) {\n    result = 'ON';\n} else if (line.includes('Arrêté')) {\n    result = 'OFF';\n} else {\n    return null; \n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "29fc9f03e374c918"
            ]
        ]
    },
    {
        "id": "95c8da65d35bcef5",
        "type": "inject",
        "z": "9da62224fc445f6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "2cc435d845851c2d"
            ]
        ]
    },
    {
        "id": "29fc9f03e374c918",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Contrôle des LED",
        "func": "if (msg.payload === 'ON') {\n    msg.payload = {etat: true};\n} else if (msg.payload === 'OFF') {\n    msg.payload = {etat: false};\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "2b4fe59267f26736"
            ]
        ]
    },
    {
        "id": "58d61ec770abf02b",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Filter Marche and Arret",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nif (line.includes('Marche')) {\n    result = 'ON';\n} else if (line.includes('Arrêté')) {\n    result = 'OFF';\n} else {\n    return null; \n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 560,
        "wires": [
            [
                "65b9157e82fa7b55"
            ]
        ]
    },
    {
        "id": "911f57870cd06cd8",
        "type": "inject",
        "z": "9da62224fc445f6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 310,
        "y": 560,
        "wires": [
            [
                "f4a012279075ae26"
            ]
        ]
    },
    {
        "id": "65b9157e82fa7b55",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Contrôle des LED",
        "func": "if (msg.payload === 'ON') {\n    msg.payload = {etat: true};\n} else if (msg.payload === 'OFF') {\n    msg.payload = {etat: false};\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 560,
        "wires": [
            [
                "c494a6ce726e8fde"
            ]
        ]
    },
    {
        "id": "285fab4d6ac02c1c",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Nombres de cycles ",
        "func": "var line = msg.payload;\nvar result = \"\";\n\n\nvar regex = /Axial\\s*-\\s*(.*?)\\s*Cycles/g;\nvar match = regex.exec(line);\n\nif (match !== null) {\n\n    result = match[1];\n} else {\n    return null;\n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 360,
        "wires": [
            [
                "faf7099593f6a971"
            ]
        ]
    },
    {
        "id": "fea6f38df491fe4a",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Nombres de cycles ",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nvar regex = /Axial\\s*-\\s*(.*?)\\s*Cycles/g;\nvar match = regex.exec(line);\n\nif (match !== null) {\n    \n    result = match[1];\n} else {\n    return null; \n}\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 520,
        "wires": [
            [
                "919da802daddb81a"
            ]
        ]
    },
    {
        "id": "adeaf2b5a5142159",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Nombres de cycles ",
        "func": "var line = msg.payload;\nvar result = \"\";\n\n\nvar regex = /Axial\\s*-\\s*(.*?)\\s*Cycles/g;\nvar match = regex.exec(line);\n\nif (match !== null) {\n   \n    result = match[1];\n} else {\n    return null; \n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 440,
        "wires": [
            [
                "9ea1c5f2faa8875d"
            ]
        ]
    },
    {
        "id": "9ea1c5f2faa8875d",
        "type": "ui_gauge",
        "z": "9da62224fc445f6b",
        "name": "Gauge02",
        "group": "02a495086ddda5ac",
        "order": 3,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "Cycles",
        "format": "{{value}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ff0000"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 440,
        "wires": []
    },
    {
        "id": "919da802daddb81a",
        "type": "ui_gauge",
        "z": "9da62224fc445f6b",
        "name": "Gauge03",
        "group": "02a495086ddda5ac",
        "order": 4,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "Cycles",
        "format": "{{value}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 520,
        "wires": []
    },
    {
        "id": "b50858cf0fafacc4",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Nombres de cycles ",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nvar regex = /Axial\\s*-\\s*(.*?)\\s*Cycles/g;\nvar match = regex.exec(line);\n\nif (match !== null) {\n   \n    result = match[1];\n} else {\n    return null; \n}\n\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 600,
        "wires": [
            [
                "7cddd5f9f2aa8a12"
            ]
        ]
    },
    {
        "id": "7cddd5f9f2aa8a12",
        "type": "ui_gauge",
        "z": "9da62224fc445f6b",
        "name": "Gauge04",
        "group": "02a495086ddda5ac",
        "order": 5,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "",
        "label": "Cycles",
        "format": "{{value}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 600,
        "wires": []
    },
    {
        "id": "6ab3516b2742bfc1",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Alerte",
        "func": "var line = msg.payload;\nvar result = \"\";\n\nif (line.includes('Axial Deplacement -- Limite supérieure déclenchée.')) {\n    result = 'Alerte : rupture d\\'éprouvette';\n} else {\n    return null; \n}\nmsg.payload = result;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "16d022352dd55443",
                "7054154d1f2ec4c0"
            ]
        ]
    },
    {
        "id": "16d022352dd55443",
        "type": "ui_audio",
        "z": "9da62224fc445f6b",
        "name": "",
        "group": "3a13163b49bf1921",
        "voice": "Microsoft Paul - French (France)",
        "always": true,
        "x": 880,
        "y": 240,
        "wires": []
    },
    {
        "id": "612d3ce921200713",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "group": "05a537b6079b8feb",
        "name": "led alerte",
        "order": 2,
        "width": 6,
        "height": 3,
        "format": "<style>\n  #triangle {\n    width: 0;\n    height: 0;\n    border-left: 50px solid transparent;\n    border-right: 50px solid transparent;\n    border-bottom: 100px solid;\n  }\n\n  .container {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    justify-content: center;\n    height: 100vh;\n  }\n\n  .triangle-wrapper {\n    display: flex;\n    justify-content: center;\n  }\n</style>\n\n<div class=\"container\">\n  <p>{{msg.payload.etat ? 'Rupture d\\'éprouvette' : ''}}</p>\n  <div class=\"triangle-wrapper\" style=\"display: {{msg.payload.etat ? 'flex' : 'none'}};\">\n    <div id=\"triangle\" style=\"border-bottom-color: red;\"></div>\n  </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7054154d1f2ec4c0",
        "type": "function",
        "z": "9da62224fc445f6b",
        "name": "Contrôle des LED",
        "func": "if (msg.payload === 'Alerte : rupture éprouvette') {\n    msg.payload = {etat: true};\n}else {\n    msg.payload = { etat: false };\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 280,
        "wires": [
            [
                "612d3ce921200713"
            ]
        ]
    },
    {
        "id": "8c540a29bcedd1d2",
        "type": "ui_text",
        "z": "9da62224fc445f6b",
        "group": "05a537b6079b8feb",
        "order": 1,
        "width": 6,
        "height": 2,
        "name": "ALERTE",
        "label": "",
        "format": "ALERTE",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#ff0000",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "faf7099593f6a971",
        "type": "ui_gauge",
        "z": "9da62224fc445f6b",
        "name": "gauge01",
        "group": "02a495086ddda5ac",
        "order": 2,
        "width": 6,
        "height": 3,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "98b2e7a4ccaf747f",
        "type": "inject",
        "z": "9da62224fc445f6b",
        "g": "76dfd97d14e26e7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "e69c6bd93a069636"
            ]
        ]
    },
    {
        "id": "e69c6bd93a069636",
        "type": "function",
        "z": "9da62224fc445f6b",
        "g": "76dfd97d14e26e7f",
        "name": "Date&Heure",
        "func": "// Récupérer la date et l'heure actuelles\nvar now = new Date();\n\n// Formater la date pour l'affichage\nvar year = now.getFullYear();\nvar month = (now.getMonth() + 1 < 10) ? \"0\" + (now.getMonth() + 1) : now.getMonth() + 1;\nvar day = (now.getDate() < 10) ? \"0\" + now.getDate() : now.getDate();\n\n// Formater l'heure pour l'affichage\nvar hours = (now.getHours() < 10) ? \"0\" + now.getHours() : now.getHours();\nvar minutes = (now.getMinutes() < 10) ? \"0\" + now.getMinutes() : now.getMinutes();\nvar seconds = (now.getSeconds() < 10) ? \"0\" + now.getSeconds() : now.getSeconds();\n\n// Créer une chaîne de caractères pour l'affichage de la date et de l'heure\nvar dateTimeString = day + \"/\" + month + \"/\" + year + \" \" + hours + \":\" + minutes + \":\" + seconds;\n\n// Envoyer la date et l'heure au nœud suivant\nmsg.payload = dateTimeString;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 180,
        "wires": [
            [
                "bad82bc719613318"
            ]
        ]
    },
    {
        "id": "bad82bc719613318",
        "type": "ui_template",
        "z": "9da62224fc445f6b",
        "g": "76dfd97d14e26e7f",
        "group": "4fe019f7cb638ce4",
        "name": "DATE",
        "order": 2,
        "width": 4,
        "height": 3,
        "format": "<div style=\"text-align: center;\">\n    <p style=\"font-size: 20px; color: #333; margin-top: 10px;\">{{msg.payload}}</p>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 410,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "06f8a0864230ed0d",
        "type": "jimp-image",
        "z": "9da62224fc445f6b",
        "g": "f13fc4ba54e57a35",
        "name": "",
        "data": "image",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 270,
        "y": 40,
        "wires": [
            [
                "8043755ca4cff6f1",
                "fbe8137bcc8ef623"
            ]
        ]
    },
    {
        "id": "fbe8137bcc8ef623",
        "type": "jimp-image",
        "z": "9da62224fc445f6b",
        "g": "f13fc4ba54e57a35",
        "name": "base64",
        "data": "image",
        "dataType": "msg",
        "ret": "b64",
        "parameter1": "200",
        "parameter1Type": "num",
        "parameter2": "",
        "parameter2Type": "auto",
        "parameter3": "",
        "parameter3Type": "none",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 3,
        "jimpFunction": "resize",
        "selectedJimpFunction": {
            "name": "resize",
            "fn": "resize",
            "description": "resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).",
            "parameters": [
                {
                    "name": "w",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the width to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "h",
                    "type": "num|auto",
                    "required": true,
                    "hint": "the height to resize the image to (or \"Jimp.AUTO\" or -1)"
                },
                {
                    "name": "mode",
                    "type": "resizeMode",
                    "required": false,
                    "hint": "a scaling method (e.g. Jimp.RESIZE_BEZIER)"
                }
            ]
        },
        "x": 400,
        "y": 40,
        "wires": [
            [
                "85250fad973fcfca"
            ]
        ]
    },
    {
        "id": "8043755ca4cff6f1",
        "type": "image viewer",
        "z": "9da62224fc445f6b",
        "g": "f13fc4ba54e57a35",
        "name": "",
        "width": 160,
        "data": "image",
        "dataType": "msg",
        "active": true,
        "x": 290,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "d7d80871eb17fc43",
        "type": "tail-file",
        "z": "9da62224fc445f6b",
        "filename": "C:\\Users\\Zehraoui\\Documents\\test01.log",
        "createFile": false,
        "mode": "",
        "encoding": "utf-8",
        "split": true,
        "separator": "",
        "fromBeginning": false,
        "flushAtEOF": false,
        "rememberLast": true,
        "limitSize": true,
        "maxBytes": "",
        "skipBlank": true,
        "useTrim": true,
        "sendError": false,
        "interval": "",
        "name": "MTS01",
        "x": 440,
        "y": 320,
        "wires": [
            [
                "24342f3cbf9d7f13",
                "285fab4d6ac02c1c",
                "6ab3516b2742bfc1"
            ]
        ]
    },
    {
        "id": "e7e4da8f7ea5c93f",
        "type": "tail-file",
        "z": "9da62224fc445f6b",
        "filename": "C:\\Users\\Zehraoui\\Documents\\test02.log",
        "createFile": false,
        "mode": "",
        "encoding": "utf-8",
        "split": true,
        "separator": "",
        "fromBeginning": false,
        "flushAtEOF": false,
        "rememberLast": true,
        "limitSize": true,
        "maxBytes": "",
        "skipBlank": true,
        "useTrim": true,
        "sendError": false,
        "interval": "",
        "name": "MTS02",
        "x": 440,
        "y": 400,
        "wires": [
            [
                "466f36d92d1b3b4a",
                "adeaf2b5a5142159"
            ]
        ]
    },
    {
        "id": "2cc435d845851c2d",
        "type": "tail-file",
        "z": "9da62224fc445f6b",
        "filename": "C:\\Users\\Zehraoui\\Documents\\test03.log",
        "createFile": false,
        "mode": "",
        "encoding": "utf-8",
        "split": true,
        "separator": "",
        "fromBeginning": false,
        "flushAtEOF": false,
        "rememberLast": true,
        "limitSize": true,
        "maxBytes": "",
        "skipBlank": true,
        "useTrim": true,
        "sendError": false,
        "interval": "",
        "name": "MTS03",
        "x": 440,
        "y": 480,
        "wires": [
            [
                "28abf8dc6e38679a",
                "fea6f38df491fe4a"
            ]
        ]
    },
    {
        "id": "f4a012279075ae26",
        "type": "tail-file",
        "z": "9da62224fc445f6b",
        "filename": "C:\\Users\\Zehraoui\\Documents\\test04.log",
        "createFile": false,
        "mode": "",
        "encoding": "utf-8",
        "split": true,
        "separator": "",
        "fromBeginning": false,
        "flushAtEOF": false,
        "rememberLast": true,
        "limitSize": true,
        "maxBytes": "",
        "skipBlank": true,
        "useTrim": true,
        "sendError": false,
        "interval": "",
        "name": "MTS04",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "58d61ec770abf02b",
                "b50858cf0fafacc4"
            ]
        ]
    },
    {
        "id": "979dacbeb50415f6",
        "type": "ui_group",
        "name": "MTS02",
        "tab": "2659b2de9be9f2df",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9d19f4b4a3eafdd",
        "type": "ui_group",
        "name": "MTS 01",
        "tab": "2659b2de9be9f2df",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "02a495086ddda5ac",
        "type": "ui_group",
        "name": "MTS03",
        "tab": "2659b2de9be9f2df",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fe019f7cb638ce4",
        "type": "ui_group",
        "z": "9da62224fc445f6b",
        "name": "MTS",
        "tab": "2659b2de9be9f2df",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3a13163b49bf1921",
        "type": "ui_group",
        "name": "MTS01",
        "tab": "058d5540dea6b877",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "05a537b6079b8feb",
        "type": "ui_group",
        "name": "alerte",
        "tab": "2659b2de9be9f2df",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2659b2de9be9f2df",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "058d5540dea6b877",
        "type": "ui_tab",
        "name": "test connecter modbus",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]