Systeme de vibration.json
[
    {
        "id": "31b1db9d57a5b159",
        "type": "modbus-read",
        "z": "2cb84170631d89ad",
        "name": "",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "",
        "adr": "",
        "quantity": "",
        "rate": "",
        "rateUnit": "",
        "delayOnStart": false,
        "startDelayTime": "",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "9ca0136f15676caa",
                "10d0b04b5ab758e8",
                "1b7fd887dd625561",
                "639df24bc0c6eca4"
            ],
            []
        ]
    },
    {
        "id": "9ca0136f15676caa",
        "type": "function",
        "z": "2cb84170631d89ad",
        "name": "Extraire la valeur",
        "func": "var data = msg.payload;\nmsg.payload = data[1]/1000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            [
                "59687a143437f45f",
                "6abfae1357bb493c"
            ]
        ]
    },
    {
        "id": "10d0b04b5ab758e8",
        "type": "function",
        "z": "2cb84170631d89ad",
        "name": "Extraire la valeur",
        "func": "var data = msg.payload;\nmsg.payload = data[3]/1000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 240,
        "wires": [
            [
                "454ba3f2d2c9ce6d"
            ]
        ]
    },
    {
        "id": "1b7fd887dd625561",
        "type": "function",
        "z": "2cb84170631d89ad",
        "name": "Extraire la valeur",
        "func": "var data = msg.payload;\nmsg.payload = data[5]/100000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 380,
        "wires": [
            [
                "494c3e2767f6a05b"
            ]
        ]
    },
    {
        "id": "639df24bc0c6eca4",
        "type": "function",
        "z": "2cb84170631d89ad",
        "name": "Extraire la valeur",
        "func": "var data = msg.payload;\nmsg.payload = data[7]/100000;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 480,
        "wires": [
            [
                "9cdf244f0d70b5e4"
            ]
        ]
    },
    {
        "id": "f4ba1e43310ec09b",
        "type": "ui_text",
        "z": "2cb84170631d89ad",
        "group": "44ff4a2ff9c3ae09",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "freq acc",
        "label": "Valeur Capteur domaine Fréquentiel(Acc)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "9cdf244f0d70b5e4",
        "type": "ui_gauge",
        "z": "2cb84170631d89ad",
        "name": "Jauge de vibration acc freq",
        "group": "44ff4a2ff9c3ae09",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "e5cc3ad885984828",
        "type": "ui_text",
        "z": "2cb84170631d89ad",
        "group": "353d6b90e8e00f08",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "tmp acc",
        "label": "Valeur Capteur en regime Temporelle (Acc)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 420,
        "wires": []
    },
    {
        "id": "494c3e2767f6a05b",
        "type": "ui_gauge",
        "z": "2cb84170631d89ad",
        "name": "Jauge de vibration acc tmp",
        "group": "353d6b90e8e00f08",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 380,
        "wires": []
    },
    {
        "id": "fdfb0bec7db63dd4",
        "type": "ui_text",
        "z": "2cb84170631d89ad",
        "group": "6dc547604f7505fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "freq",
        "label": "Valeur Capteur domaine Fréquentiel (Vitesse)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 320,
        "wires": []
    },
    {
        "id": "454ba3f2d2c9ce6d",
        "type": "ui_gauge",
        "z": "2cb84170631d89ad",
        "name": "Jauge de vibration fr",
        "group": "6dc547604f7505fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "6abfae1357bb493c",
        "type": "debug",
        "z": "2cb84170631d89ad",
        "name": "debug function sensor",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 220,
        "wires": []
    },
    {
        "id": "1e46ca8532225f6a",
        "type": "ui_text",
        "z": "2cb84170631d89ad",
        "group": "5683c315562a5609",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "tmp",
        "label": "Valeur Capteur en regime Temporelle(Vitesee) ",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "59687a143437f45f",
        "type": "ui_gauge",
        "z": "2cb84170631d89ad",
        "name": "Jauge de vibration",
        "group": "5683c315562a5609",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vibration",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 100,
        "wires": []
    },
    {
        "id": "44ff4a2ff9c3ae09",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "9e34b6762462aa41",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "353d6b90e8e00f08",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "9e34b6762462aa41",
        "order": 3,
        "disp": true,
        "width": 6
    },
    {
        "id": "6dc547604f7505fe",
        "type": "ui_group",
        "name": "freq",
        "tab": "9e34b6762462aa41",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5683c315562a5609",
        "type": "ui_group",
        "name": "temp",
        "tab": "9e34b6762462aa41",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9e34b6762462aa41",
        "type": "ui_tab",
        "name": "Capteur",
        "icon": "fa-lock",
        "disabled": false,
        "hidden": false
    }
]